.git
.github
.idea
.vscode

app/.env
app/.env.*
app/node_modules
app/vendor
app/public/build
app/public/hot
app/bootstrap/cache/*.php
app/storage/framework/cache/data/*
app/storage/framework/sessions/*
app/storage/framework/testing/*
app/storage/framework/views/*
app/storage/logs/*
app/tests
app/phpunit.xml
app/pint.json
app/README.md

backups
